body, .smoke {
  text-align: center;
  font-family: 'Droid Serif', serif;
  vertical-align: center;
}
img {
  vertical-align: middle;
}
html {
  background: #ccc;
}
body, .container {
  background: transparent;
}
.container {
  display: none;
}
.title {
  font-family: 'Delius', cursive;
}
h1 {
  font-size: 111px;
  line-height: 123px;
}
#canvas {
  cursor: crosshair;
  border: 10px solid silver;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}