body, .smoke {
  text-align: center;
  font-family: 'Droid Serif', serif;
  vertical-align: center;
}
html {
  background: #ccc;
}
body, .container {
  background: transparent;
}
.container {
  display: none;
}
.title {
  font-family: 'Delius', cursive;
}
h1 {
  font-size: 111px;
  line-height: 123px;
}
#canvas {
  cursor: crosshair;
  border: 10px solid black;
}